@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');



*{
    margin: 0%;
    padding: 0%;
}


:root{
    --darkmode: black;
    --lightmode: white;
    --another: red;
    --background: whitesmoke;
    
}
.dark-theme{
    --darkmode: white;
    --lightmode: black;
    --another: pink;
    --background: rgba(19, 18, 18, 0.911);
}

body{
   background: var(--background);

   background-repeat: no-repeat;
}

header{
    height: 690px;
    border: 1px ridge black;
    width: 1340px;
    margin: 0px;

    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: background-change 90s ease-in-out;
    background: transparent;
}

@keyframes background-change{
    
}

.website{
    position: absolute;

}

.webname{
    font-size: 35px;
    animation: a 10s ease-out ;
    position: relative;
    top: -50px;
    left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes a1 {
    0%{
        font-size: 0px;

    }
    96%{
        font-size: 0px; 

    }
    100%{
        font-size: 25px;
    }
}

.logo{
    border: 1px ridge rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 3px 3px 1px rgb(0, 0, 0);
    position: relative;
    animation: logo 27s linear ;
    margin: 15px;
    margin-bottom: 0px;

}

@keyframes logo1 {
    0%{
       scale: 0;
    }
    67%{
        scale: 0;
    }
    100%{
       scale: 1;
    }
}

#theme{
    margin-left: auto;
}

.container{
    margin-top: 10px;
}

.video{
    animation: video 8s 10s;
    width: 0px;
    height: 0px;
    border: 1px solid rebeccapurple;

}

@keyframes video1 {
    0%{
        height: 0px;
        width: 0px;

    }
    10%{
        height: 205px;
        width: fit-content;
        
    }
    80%{
        height: 205px;
        width: fit-content;
    }
    100%{
        height: 0px;
        width: 0px;
    }
}

@keyframes introductionani1 {
    0%{
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
    } 
    3%{
        border-radius: 50%;
        align-items: center;

    }
    5%{
        border-radius: 11px;

    }
    10%{
        align-items: normal;
        justify-content: initial;

    }
    20%{
        border-radius: 11px;

    }
}

@keyframes revealText1{
    0%{
        width: 0px;
        height: 0px;
        padding: 0;
        text-align: center;
    }
    10%{
        width: 160px;
        height: 80px;

    }
    15%{
        width: 160px;
        height: 80px;
        padding: 0%;
    }
    19%{
        width: 160px;
        height: 180px;
        padding: 0%;
        text-align: center;
    }
    24%{
        width: 160px;
        height: 180px;
        padding: 0%;
    }
    35%{
        text-align: start;
    
    }
    40%{
        width: 1350px;
        height: 610px;

    }
    
    45%{
        width: 1350px;
        height: 610px;

    }
    50%{
        width: 700px;
        height: 400px;
    }
    70%{
        width: 550px;
        height: 450px;
    }
    98%{
    }
    100%{
        width: 1350px;
        height: 610px;
    }
}

.my-intro {
    width: 1280px;
    height: 610px;
    background-image: linear-gradient(to top right, #7986cb, #ec4646);
    text-align: start;
    border: 1px ridge red;
    overflow: hidden;
    animation: revealText 20s ease-in-out ;
    border-radius: 27px;
    font-weight: 100;
    color: var(--lightmode);
    font-size: 16px;
    box-shadow: 2px 1px 1px #e22f2f;
}

.texts{
    margin-left: 228px;
    margin-top: 270px;
    margin-right: 0px;
    animation: margin 13s ease-in;


}

@keyframes margin1 {
    0%{
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;

    }
    45%{
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
    }
    56%{
        margin-left: 228px;
        margin-top: 250px;
        margin-right: 0px;
        border: .1px ridge gray;
    }
    59%{
        border: 1px ridge gray;

    }
    70%{
        margin-left: 228px;
        margin-top: 250px;
        margin-right: 0px;
    }
    80%{
        margin-left: 98px;
        margin-top: 150px;
        margin-right: 0px;
    }
    98%{
        margin-left: 108px;
        margin-top: 150px;
        margin-right: 0px;
    }
    105%{
        margin-left: 188px;
        margin-top: 150px;
        margin-right: 0px;
    }
    
}

.img-of-mithu{
    position: relative;
    left: 750px;
    bottom: 460px;
    
    
}

.my-apps{
    display: flex;
    width: 85%;
    margin: 7.5%;
    border: 1px ridge red;
}    

.normal-products{
    display: flex;
    border: 1px ridge gray;
    row-gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 70px;
    align-items: center;
    justify-content: center;

}
 
.our-apps{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    background-color: #000000;
}

.product1, .product2, .product3, .product4, .product5, .product6, .product7, .product8, .product9, .product10, .product11, .product12, .product13, .product14, .product15, .product16, .product17, .product18, .product19, .product20 {
    width: 150px;
    height: 150px;
    border: 1px ridge black;
    box-shadow: 2px 3px 6px black;
    margin-top: 50px;
}
/*

.product1{
    
}
.product2{
    
}
.product3{
    
}
.product4{
    
}
.product5{
    
}
.product6{
    
}
.product7{
    
}
.product8{
    
}
.product9{
    
}
.product10{
    
}
.product11{
    
}
.product12{
    
}

.product13{
    
}
.product14{
    
}

.product15{
    
}
.product16{

}

.iphone-part{
    width: 95%;


}
*/
@media screen and (max-width: 1500px){

}
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 400px){
    .my-intro{
        width: 360px;
        
        
    }
    header{
        width: 390px;
    }
    .texts{
        margin-left: 88px;
        width: 120px;
    }

    @keyframes revealText1{
        0%{
            width: 0px;
            height: 0px;
            padding: 0;
            text-align: center;
        }
        10%{
            width: 160px;
            height: 60px;
    
        }
        15%{
            width: 160px;
            height: 80px;
        }
        19%{
            width: 160px;
            height: 180px;
            padding: 0%;
            text-align: center;
        }
        24%{
            width: 160px;
            height: 180px;
            padding: 0%;
        }
        35%{
            text-align: start;
        
        }
        40%{
            width: 1350px;
            height: 610px;
    
        }
        
        45%{
            width: 1350px;
            height: 610px;
    
        }
        50%{
            width: 700px;
            height: 400px;
        }
        70%{
            width: 550px;
            height: 450px;
        }
        98%{
        }
        100%{
            width: 1350px;
            height: 610px;
        }
    }
    .img-of-mithu{
        left: 400px;
        bottom: 600px;
    }
}

@media screen and (max-width: 300px) {
    body {
        background-color: lightblue;
    }
}
